@use './props.scss';

.battle-cards {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    height: calc(100vh - 10rem);

    &__btns {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .6rem 1rem;
        box-sizing: border-box;
        backdrop-filter: blur(4px);
    }
}