@use './props.scss';

.farm-points {
    margin-top: 1rem;
    margin-inline: .5rem;
    border-radius: 15px;
    corner-shape: bevel;
    flex-grow: 1;
    display: flex;
    background: linear-gradient(180deg, props.$body, #3d2568);
    border: 2px solid props.$labelColor;
    flex-direction: column;

    &__top {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100%;
    }

    &__title {
        color: white;
        font-weight: 500;
    }

    &__points-space,
    &__middle,
    &__star-list {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }


    &__star-list {
        position: relative;
        flex-grow: 1;
    }
}

.star-point {
    position: absolute;
    display: flex;

    &__container {
        position: relative;
    }

    &__attribute {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, 0);
        color: props.$labelColor;
    }

    &__btn {
        height: 80px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        corner-shape: superellipse(-.5);
        border: 1.2px dashed transparent;
        transition-duration: .3s;

        &:hover {
            border-color: white;
        }
    }


    &__logic {
        position: absolute;
        border-inline: 4px solid props.$labelColor;
        background-color: white;
        padding: .2rem 1rem;
        border-radius: 15px;
        corner-shape: bevel;
        display: flex;
        height: fit-content;
        top: 25%;

        &-left {
            left: -120%;
        }

        &-right {
            right: -120%;
        }
    }

    .star-svg {
        animation: star-emission .6s infinite;
        animation-timing-function: ease-out;
        filter: drop-shadow(0px 0px 4px #ffffff89);
    }

    &__link {
        color: props.$labelColor;

    }

    &__s {
        .star-container {
            transform: scale(1.2);

            svg {
                path:not(:first-child) {
                    fill: props.$yellow;
                }
            }
        }
    }

    &__a {
        .star-container {
            transform: scale(1);

            svg {
                path:not(:first-child) {
                    fill: props.$purple;
                }
            }
        }
    }

    &__b {
        .star-container {
            transform: scale(.9);

            svg {
                path:not(:first-child) {
                    fill: props.$blue;
                }
            }
        }
    }

    &__c {
        .star-container {
            transform: scale(.8);

            svg {
                path:not(:first-child) {
                    fill: props.$green;
                }
            }
        }
    }

    &:nth-child(1) {
        top: 40px;
        right: 2%;
    }

    &:nth-child(2) {
        top: 0px;
        left: 20%;
    }

    &:nth-child(3) {
        top: 100px;
        right: 30%;
    }

    &:nth-child(4) {
        top: 160px;
        left: 20%;
    }

    &:nth-child(5) {
        bottom: 210px;
        right: 15%;
    }

    &:nth-child(6) {
        bottom: 200px;
        left: 5%;
    }

    &:nth-child(7) {
        bottom: 70px;
        right: 10%;
    }

    &:nth-child(8) {
        bottom: 40px;
        left: 10%;
    }
}

@keyframes star-emission {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}