@use 'props';


@font-face {
    font-family: "Tik Tok";
    src:
        url("./content/TikTok.woff") format("woff"),
}

@font-face {
    font-family: "Wadik";
    src:
        url("./content/Wadik.woff") format("woff"),
}

a,
button {
    user-select: none;
    background-color: transparent;

    &:hover {
        cursor: pointer;
    }
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

* {
    margin: 0;
    padding: 0;
    border: unset;
    text-decoration: unset;
    font-family: "Tik Tok";
    list-style: none;
    box-sizing: border-box;
}

html {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 1px;
    box-sizing: border-box;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

body {
    background-color: props.$body;
    background-image: url('./content/background-anime-card.png');
}

@keyframes show-header {
    to {
        transform: translateY(-100%);
    }
}

@keyframes hide-header {
    to {
        transform: translateY(0);
    }
}

.header {
    height: 54px;
    width: 100%;
    display: flex;
    align-items: stretch;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition-duration: .3s;


    &.showen {
        transform: translateY(0);
    }

    &.hidden {
        transform: translateY(-200%);
    }

    &__left-container,
    &__right-container {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            height: 30px;
            stroke: white;
            fill: white;
        }

        &:disabled {
            svg {
                stroke: props.$soLightGrey;
                fill: props.$soLightGrey;
            }
        }
    }

    &__money-block {
        padding-inline: 1rem;
        background-color: white;
        border-radius: 50px;
        height: 36px;
        display: flex;
        gap: 1rem;
    }

    &__container {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 20px;

        &-blur {
            backdrop-filter: blur(4px);
            border-bottom: 2px solid props.$purple;
            border-radius: 0 0 25px 25px;
        }
    }

    &__link {
        color: white;

        &-logo {
            display: block;
            width: 36px;
            aspect-ratio: 1;
            border-radius: 100%;
            background-color: props.$body;
            outline: 2px solid white;
        }
    }

    &__middle {
        width: 126px;
        aspect-ratio: 1;
        bottom: -50%;
        left: 50%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(-50%);

        &-container {
            position: absolute;
            bottom: -5%;
            left: 0;
            border-radius: 100%;
            clip-path: polygon(0 61.3%, 100% 61.3%, 100% 100%, 0% 100%);
            width: 126px;
            aspect-ratio: 1;
            background-color: props.$body;

            background:
                linear-gradient(to right, #1F2938, #1F2938) padding-box,
                linear-gradient(to right, #B1B1B1, #8F8F8F) border-box;
            border: 1.2px solid transparent;
            z-index: -1;

        }

        .header__cards-container {
            position: relative;
            left: 15%;
            width: 39px;
            height: 64px;
            border-radius: 5px;
            background: #733079;
            display: block;
            background: linear-gradient(40deg, rgba(115, 48, 121, 1) 1%, rgba(206, 98, 183, 1) 100%);

            &::after,
            &::before {
                position: absolute;
                display: block;
                content: " ";
                width: 39px;
                height: 64px;
                top: 0;
                border-radius: 5px;
                background: #733079;
                background: linear-gradient(40deg, rgba(115, 48, 121, 1) 1%, rgba(206, 98, 183, 1) 100%);
            }

            &::after {
                left: -50%;
                opacity: .6;
                z-index: -1;
            }

            &::before {
                left: -100%;
                opacity: .4;
                z-index: -1;
            }
        }
    }

}

.home {
    padding-inline: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.purple-button,
.purple-link {
    border: 1px solid props.$purple;
    background-color: rgba(props.$purple, .4);
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:disabled {
        color: props.$soLightGrey;
    }

    &.arrow {
        svg {
            transition-duration: .3s;
        }

        &-opened {
            svg {
                transform: rotate(0deg);
            }
        }

        &-hidden {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    &.huge {
        padding: 1rem .8rem;
    }

    &.tiny {
        padding: .5rem 1rem;
        font-size: 1rem;
        font-weight: 500;
    }

    &:hover {
        cursor: pointer;
    }
}

.table {
    &__title {
        color: white;
        font-weight: bold;
        text-align: center;
        font-family: "Wadik";
        padding-block: 2rem;

    }

    &__start-menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: .6rem;
    }
}

.blur-space {
    background:
        url("./content/background-anime-card-dark.png") padding-box,
        linear-gradient(to right, #B1B1B1, #8F8F8F) border-box;
    border: 1.2px solid transparent;
    border-radius: 30px;
    overflow: hidden;
    position: relative;

    &__container {
        padding: 40px 14px;
        @include props.MainBack();
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        &.main {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
}

.preview-battle-card {
    height: 140px;
    aspect-ratio: .7;
    display: flex;

    &__set-btn {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        border: 2px dashed white;
    }
}

.card {
    height: 140px;
    aspect-ratio: .7;
    border-radius: 15px;
    background-color: props.$soLightGrey;
    overflow: hidden;
    border: 2px solid props.$body;
    border-inline-width: 3px;
    box-sizing: border-box;
    transition-duration: .2s;
    position: relative;

    &__set-text {
        font-family: 'Wadik';
        font-size: 1.8rem;
        font-weight: 600;
        color: white;
    }

    &__set-container {
        &-rival {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            background-color: props.$purple;
            border-radius: 15px;
            border: 1.2px solid white;
        }
    }


    &__stats-container {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: .2rem;
        gap: .1rem;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top,
                rgba(props.$body, .8),
                rgba(props.$body, 0));
        opacity: 0;
        transition-duration: .3s;
    }

    &__stat {
        display: flex;
        justify-content: space-between;

        span {
            color: white;
        }
    }

    &-s {
        border-inline-color: props.$yellow;
    }

    &-a {
        border-inline-color: props.$purple;
    }


    &-b {
        border-inline-color: props.$blue;
    }

    &-c {
        border-inline-color: props.$green;
    }

    &-d {
        border-inline-color: props.$soLightGrey;
    }

    &.dragging {
        position: absolute;
    }

    &:hover {
        transform: scale(1.05);
    }

    &__active-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__preview-container {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__delete-container {
        position: absolute;
        bottom: .5rem;
        right: .5rem;
    }

    &__preview {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &.selected {
        transform: translateY(-6%) rotate(3deg) scale(1.05);
    }


    &s-list {
        padding-block: .4rem;
        display: flex;
        justify-content: space-around;

        overflow: hidden;
        transform-origin: 0 50%;

        &.to-hide {
            animation: hide-cards-list .4s forwards;
        }

        &.opened {
            animation: show-cards-list .4s forwards;
        }
    }

    &__delete {
        backdrop-filter: blur(4px);
        aspect-ratio: 1;
        width: 40px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            filter: drop-shadow(0 0 2px red) drop-shadow(0 0 0 3px blue);
        }
    }
}

@keyframes shake-card {
    10% {
        transform: translateY(10%);
    }

    20% {
        transform: rotate(5deg);
    }

    30% {
        transform: rotate(-5deg);
    }

    40% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0);
    }

    100% {
        transform: translateY(0%);
    }
}


@keyframes show-cards-list {
    from {
        max-height: 0px;
        padding: 0px
    }

    to {
        max-height: 160px;
        padding-block: .4rem;
    }
}

@keyframes hide-cards-list {
    from {
        max-height: 160px;
        padding-block: .4rem;
    }

    to {
        max-height: 0px;
        padding: 0px
    }

}

.cards-choise {
    * {
        color: white;
    }

    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: stretch;
    max-height: 100%;
    gap: 1rem;

    &__favorite-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, 100px);
        grid-template-rows: 140px;
        grid-auto-rows: 140px;
        justify-content: space-between;
        justify-items: center;
        row-gap: .3rem;
        padding-inline: 1rem;
    }

    &__list-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-height: 1px;
        gap: .4rem;
    }

    &__filter-container {
        display: flex;
        justify-content: stretch;
    }

    &__cards-list {
        padding-block: 1rem;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
    }

    &__filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        width: 100%;

        &.pd {
            padding-inline: 1rem;

            &-no {
                padding: unset;
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, 100px);
        grid-template-rows: repeat(auto-fit, 140px);
        justify-items: center;
        justify-content: space-around;
        gap: .3rem;
    }

    &__desc-text {
        display: flex;
        flex-direction: column;
        gap: .4rem;
    }
}

.card-desc {
    &__description {
        display: flex;
        flex-direction: column;
        gap: .4rem;
        padding-block: .2rem;
        flex-grow: 1;
    }

    &__top-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
    }

    &__name {
        font-size: 1.2rem;
        font-weight: 600;
        color: white;
    }

    &__desc-element {
        display: flex;
        gap: 1rem;
        color: white;
    }

    &__desc-key {
        font-weight: 600;
    }
}

.over-black-space {
    position: fixed !important;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    z-index: 200;
    box-sizing: border-box;
    height: 100%;
    width: 100%;


    position: absolute;
    background-color: rgba($color: props.$body, $alpha: .6);
    backdrop-filter: blur(8px);
    transform: translateY(100%);

    &.opened {
        animation: show-selection-list .4s forwards;
    }

    &.to-hide {
        transform: translateY(0%);
        animation: hide-selection-list .4s forwards;
    }

    &__btns {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        box-sizing: border-box;

        padding: .6rem 1rem;
        display: flex;
        justify-content: space-between;
        @include props.MainBack()
    }

}

@keyframes show-selection-list {
    from {
        transform: translateY(100%);
        // max-height: 0px;
    }

    to {
        transform: translateY(0%);
        // max-height: 100vh;
    }
}


@keyframes hide-selection-list {
    from {
        transform: translateY(0%);
        // max-height: 100vh;
    }

    to {
        transform: translateY(100%);
        // max-height: 0px;
    }

}


.base-list {
    display: flex;
    width: fit-content;

    &.small {
        .base-list__active-value {
            &-container {
                display: flex;
                gap: 1rem;
            }
        }

        .base-list__selection-container {
            padding-inline: .4rem;
            flex-grow: 1;
            height: 30px;
            border-radius: 10px;
            border: 1px solid props.$purple;
            background-color: rgba(props.$purple, .4);
        }

        .base-list__selection {
            width: max-content;
            min-width: 100%;
        }

        .base-list__active-value-container {

            border-radius: 10px;
            justify-content: space-around;
            align-items: center;
        }
    }

    &.long {
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__title {
        font-size: 1rem;
        font-weight: 600;
        color: white;
    }

    &__selection-container {
        position: relative;
        display: flex;
        max-width: 140px;
        width: 100%;
        height: 30px;
    }

    &__container {
        height: 100%;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__active-value-container {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
    }

    &__btn {
        height: inherit;
        width: inherit;

        &:disabled {
            svg {
                stroke: props.$soLightGrey;
            }
        }

        stroke: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__active-value {
        flex-grow: 1;
        height: 30px;
        border-radius: 10px;
        border: 1px solid props.$purple;
        background-color: rgba(props.$purple, .4);
        color: white;
    }

    &__selection {
        position: absolute;
        top: 110%;
        left: 0px;
        display: flex;
        flex-direction: column;
        padding: .3rem;
        border-radius: 10px;
        background-color: #1F2938;
        width: 100%;
        box-sizing: border-box;
        z-index: 100;
        border: 1px solid props.$purple;
        box-shadow: 0px 2px 12px 0px rgba(63, 75, 138, 0.2);
    }

    &__value {
        padding: .4rem .7rem;
        transition-duration: .3s;
        border-radius: 5px;
        text-wrap: nowrap;
        color: white;

        &:hover {
            background-color: #733079;
        }
    }
}

.input {
    display: flex;
    gap: 1rem;
    height: 40px;

    &__container {
        width: 100%;
        height: 100%;
        flex-shrink: 2;
        display: flex;

        &-input {
            max-width: 180px;
        }
    }

    &__text-inpt {
        background-color: #1F2938;
        border: 1px solid props.$purple;
        border-radius: 10px;
        height: 100%;
        width: 100%;
        padding-inline: 1rem;
        color: white;

        &:focus {
            outline: unset;
        }
    }

    &__btn {
        height: 100%;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(props.$purple, .4);
        border: 1px solid props.$purple;
        border-radius: 10px;
    }
}

.search-filter {
    &__btn {
        height: 40px;
        aspect-ratio: 1;
        background-color: #1F2938;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    &__portal {
        position: fixed !important;
        top: 0;
        left: 0;
        z-index: 300;
        width: 100%;
        height: 100%;
        background-color: rgba(black, .2);
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(6px);
        padding: 1rem 2rem;
        box-sizing: border-box;
    }

    &__filter-container {
        border: 2px solid props.$purple;
        background-color: #1F2938;
        padding: 1rem;
        border-radius: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        box-shadow: 1px 1px 35px 11px rgba(72, 77, 137, 0.2);
    }

    &__block {
        width: 100%;

        &-filters {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: .6rem;
        }

        &-btns {
            display: flex;
            justify-content: space-between;
        }
    }
}

.light-button {
    height: 100%;
    padding: .2rem 1rem;
    border-radius: 15px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 0px 0px 17px -6px rgba(255, 255, 255, 0.81) inset;
    background-color: props.$body;
    border: 2px solid props.$body;
    outline: 1px solid white;

    &:disabled {
        opacity: .8;
    }

    &.tiny {
        font-size: 1.1rem;
        font-weight: 500;
        padding: .2rem .5rem
    }

    &.green {
        background-color: props.$green;
    }


    &.blue {
        background-color: props.$blue;
    }

    &.purple {
        background-color: props.$purple;
        box-shadow: 0px 0px 17px -6px rgba(#521acdcf, 0.81) inset;
    }
}

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    &__form {
        &-container {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            max-width: 450px;
        }

        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__label {
        color: props.$purple;
        font-size: 1.4rem;
        font-weight: 600;
        font-family: 'Wadik';
        text-align: center;
    }

    &__top-block {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__input {
        padding-inline: 1rem;
        height: 54px;
        border-radius: 15px;
        border: 2px solid props.$purple;
        background-color: props.$body;
        color: props.$soLightGrey;
        font-size: 1.2rem;
        font-weight: 600;

        &:focus {
            outline: unset;
        }
    }

    &__container {
        &-nickname {
            display: flex;
            flex-direction: column;
            gap: .4rem;
        }
    }

    &__error {
        color: props.$cuprum;
        font-size: 1rem;
        font-weight: 600;
    }

    &__bottom-block {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 340px) {
    .light-button {
        font-size: 1rem;

        &.tiny {
            font-size: .9rem;
        }
    }
}

@media screen and (max-width: 330px) {

    .preview-battle-card,
    .card {
        width: 80px;
        height: 120px;
    }

    .cards-choise {

        &__favorite-list,
        &__list {
            grid-template-columns: repeat(auto-fit, 80px);
            grid-template-rows: repeat(auto-fit, 120px);
        }
    }
}