$body: #041023;
$darkGrey: #666666;
$soLightGrey: #DADADA;
$purple: #833E96;
$green: #5BE98B;
$yellow: #FFD400;
$blue: #00F7FF;

@mixin MainBack() {
    background: #DADADA;
    background: linear-gradient(141deg, rgba(218, 218, 218, .2) 1%, rgba(102, 102, 102, .2) 100%);
    backdrop-filter: blur(5px);
}