@use './props.scss';

.shop {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 1px;
    padding-inline: 1rem;

    &__body {
        width: 100%;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    &-top {
        display: flex;

        &__link {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: props.$labelColor;
            font-weight: 500;
            font-size: 1.4rem;
            background-color: white;
            border: 2px solid props.$labelColor;
            border-bottom-width: 4px;
            padding: .8rem 1rem;
            border-radius: 20px;
        }
    }
}

.keys {
    &__list-container {
        z-index: 100;
        width: 100%;
        height: fit-content;
        position: sticky;
        top: 1rem;
        left: 0px;
        padding-inline: 1rem;
    }

    &__list {
        backdrop-filter: blur(6px);
        background-color: rgba(props.$body, .2);
        border-radius: 25px;
        display: flex;
        padding: .5rem;
        gap: 2rem;

    }
}

.banner-section {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    width: 100%;
    background-color: props.$bodyColor;
    border-radius: 25px;
    border: 2px solid props.$labelColor;
    position: relative;

    // &::after {
    //     background-color: white;
    //     background: linear-gradient(60deg, props.$labelBorder 1%, props.$labelColor 60%);
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     width: calc(100% - 10px);
    //     height: calc(100% - 10px);
    //     transform: translateX(-50%) translateY(-50%);
    //     border-radius: 22px;
    //     pointer-events: none;
    //     content: " ";
    //     border: 2px solid props.$darkerSkin;
    //     z-index: 10;
    // }

    &__title-container {
        z-index: 30;
        position: absolute;
        top: -18px;
        left: 40px;
        background-color: white;
        padding: .4rem .8rem;
        border-radius: 30px;
    }

    &__title {
        color: props.$labelColor;
        font-weight: 500;
    }

    &__list {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
    }
}

.banner {
    background-color: white;
    border-radius: 15px;
    width: fit-content;
    padding: .4rem;
    max-width: 140px;
    width: 100%;
    flex-shrink: 1;
    display: flex;
    z-index: 20;
    flex-direction: column;
    gap: .2rem;
    box-sizing: content-box;
    outline: 1px solid white;
    border: 2px dashed props.$labelColor;

    &__view-block {
        display: flex;
        flex-direction: column;
        gap: .2rem;
    }

    &__name {
        font-weight: 600;
        font-family: "Tik Tok";

        font-size: 1rem;
        letter-spacing: .2rem;
        text-wrap: wrap;
        display: block;
        text-align: center;
        color: props.$body;
    }

    &__count-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        &-normal {
            display: flex;
            gap: .2rem;
            flex-direction: column;
        }
    }


    &__count {
        color: props.$body;
        font-weight: 500;
        font-size: 1rem;
        display: block;
        width: 100%;
        text-align: center;
    }

    &__view-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__view {
        object-fit: contain;
        height: 200px;
        width: 100%;
        overflow: hidden;

        &.card-s {
            border: 2px solid props.$yellow;
        }

        &.card-a {
            border: 2px solid props.$purple;
        }

        &.card-b {
            border: 2px solid props.$blue;
        }

        &.card-c {
            border: 2px solid props.$green;
        }

        &.card-d {
            border: 2px solid props.$soLightGrey;
        }

    }
}

.value-info {
    display: flex;
    align-items: center;
    gap: .6rem;

    &__view-container {
        height: 100%;
        aspect-ratio: 1;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    &__view {
        width: 100%;
        object-fit: scale-down;
    }

    &__count {
        font-size: 1.2rem;
        font-weight: 600;
        color: props.$body;
    }
}