@use './props.scss';

.shop {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 1px;
    padding-inline: 1rem;

    &__body {
        width: 100%;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    &-top {
        display: flex;

        &__link {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: 800;
            font-size: 1.4rem;
            background-color: rgba(props.$purple, .4);
            padding: .8rem 1rem;
            border-radius: 20px;
            border: 1px solid props.$purple;
            border-bottom-width: 4px;
        }
    }
}

.keys {
    &__list-container {
        z-index: 100;
        width: 100%;
        height: fit-content;
        position: sticky;
        top: 1rem;
        left: 0px;
        padding-inline: 1rem;
    }

    &__list {
        backdrop-filter: blur(6px);
        background-color: rgba(props.$body, .2);
        border-radius: 25px;
        display: flex;
        padding: .5rem;
        gap: 2rem;

    }
}

.banner-section {
    display: flex;
    flex-direction: column;
    border: 1px solid props.$purple;
    border-bottom: 4px solid props.$purple;
    padding: 2rem 1rem 1rem 1rem;
    width: 100%;
    border-radius: 25px;
    // background-color: props.$body;
    backdrop-filter: blur(4px);
    position: relative;

    &__title-container {
        position: absolute;
        top: -16px;
        left: 40px;
        background-color: props.$body;
        padding: .4rem .8rem;
        border: 1px solid props.$purple;
        border-radius: 15px;
    }

    &__title {
        color: white;
        font-weight: 500;
        font-weight: 600;
    }

    &__list {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
    }
}

@keyframes border-anim {
    0% {
        outline-color: props.$green;
    }

    50% {
        outline-color: props.$cuprum;
    }

    100% {
        outline-color: props.$green;
    }

}

@keyframes text-anim {
    0% {
        color: props.$green;
    }

    50% {
        color: props.$cuprum;
    }

    100% {
        color: props.$green;
    }

}

.banner {
    corner-shape: bevel;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 33px 7px rgba(25, 63, 92, 0.2);
    width: fit-content;
    padding: .4rem;
    max-width: 140px;
    width: 100%;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    box-sizing: content-box;
    outline: 5px double props.$green;
    animation: border-anim 3s linear infinite;

    &__view-block {
        display: flex;
        flex-direction: column;
        gap: .2rem;
    }

    &__name {
        font-weight: 600;
        animation: text-anim 3s linear infinite;
        font-family: "Tik Tok";

        font-size: 1.2rem;
        letter-spacing: .2rem;
        text-wrap: wrap;
        display: block;
        text-align: center;
        color: props.$body;
    }

    &__count-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        &-normal {
            display: flex;
            gap: .2rem;
            flex-direction: column;
        }
    }


    &__count {
        color: props.$body;
        font-weight: 600;
        font-size: 1rem;
        display: block;
        width: 100%;
        text-align: center;
    }

    &__view-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__view {
        object-fit: contain;
        height: 200px;
        width: 100%;
        overflow: hidden;

        &.card-s {
            border: 2px solid props.$yellow;
        }

        &.card-a {
            border: 2px solid props.$purple;
        }

        &.card-b {
            border: 2px solid props.$blue;
        }

        &.card-c {
            border: 2px solid props.$green;
        }

        &.card-d {
            border: 2px solid props.$soLightGrey;
        }

    }
}

.value-info {
    display: flex;
    align-items: center;
    gap: .6rem;

    &__view-container {
        height: 100%;
        aspect-ratio: 1;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    &__view {
        width: 100%;
        object-fit: scale-down;
    }

    &__count {
        font-size: 1.2rem;
        font-weight: 600;
        color: props.$body;
    }
}